@using Espuchifai.Core;
@model IEnumerable<Album>
@{
    ViewData["Title"] = "Albumes";
}
<ul>
    @foreach (var album in Model)
    {
        <li>@album.Nombre</li>
        <li>@album.Lanzamiento</li>
        <li>@album.IdBanda</li>
        <li>@album.IdAlbum</li>
        <li>@album.Cantidad</li>
    }
</ul>