@using Espuchifai.Core;
@model IEnumerable<Cancion>
@{
    ViewData["Title"] = "Cancion - Detalle";
}
<ul>
    @foreach (var cancion in Model)
    {
        <li>@cancion.Nombre</li>
        <li>@cancion.Orden</li>
        <li>@cancion.IdAlbum</li>
        <li>@cancion.IdCancion</li>
        <li>@cancion.Cantidad</li>
    }
</ul>